body{
    background-color: #AA0202;
}

.tabla {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
       border-radius: 30px;
    height: 80vh;
 }


 .materias {
   width: 800px;
   text-align: center;
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow-y: auto;
    height: 75vh;
 }

 .año{
   padding: 10px;
   background-color: #AA0202;
   border-radius: 5px;
 }

 #mat{
   padding: 5px;
   height: 25px;
   border-radius: 10px;
 }

 #mat li {
   background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-style: normal;
 }

 .calificaciones-mesa{
   padding: 10px;
   display: flex;
   height: 15px;
    background-color: darkgray;
    color:#AA0202;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
 }

 .calificaciones-mesa li{
   text-align: center;
    align-content: center;
    justify-content: center;}

.año{
    background-color: #AA0202;
    color: #fff;
    font-style: normal;
    text-align: center;
}

 .materias li:last-child {
    border-bottom: none;
 }

 .fondo{
    background-color: #AA0202;
    padding: 30px;
    border-radius: 15px;
 }

 .ia{
    margin: auto;
    display: grid;
    place-items: center;
 }

 .botones{
   display: flex;
   align-items: center;
   justify-content: center;
}

.calificaciones,
.mesa{
   margin: 10px;
   border-style: none;
   height: 50px;
   width: 150px;
   color: #fff;
   background-color: #AA0202;
   border-radius: 20px;
}


.calificaciones a,
.mesa a{
   text-decoration: none;
   color: #fff;
}



.cerrar-sesion{
   margin-left: 100px;
   border-style: none;
   height: 50px;
   width: 150px;
   color: #fff;
   background-color: #0F60FA;
   border-radius: 20px;
}

.cerrar-sesion a{
   text-decoration: none;
   color: #fff;
}

 